*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-style:normal;
  }

body {
font-family: 'Poppins', sans-serif;
  font-style:normal;
  font-size:16px;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*login Page */
.log-section{
	background:url(../../../img/cardbg.png);
}
.form-control {
    line-height: 1.45 !important;
}
.logo img{
	width:90px;
	
}
.form-label label,.form-label2 label{
	margin-bottom:5px;
}
.form-label,.form-label2{
	margin-bottom:15px;
}
.form-label .input-group-text,.form-label2 .input-group-text {
    color: #ffffff;
    background-color: #579d8c;
    border: 1px solid #579d8c;
}

.form-label .input-group-text {
    font-size:21px;
}

.id-btn .btn{
    background: linear-gradient(to right, #02e3ab, #03a1ce);
	color:#ffffff;
	font-weight:500;
	font-size:16px;
	padding-bottom:3px;
	padding-top:3px;
	border-radius:35px;
}
.id-btn .btn:hover{
	background: linear-gradient(to right, #02e3ab, #03a1ce);
	color:#ffffff;
}
.id-btn .btn:focus{
	outline:none;
	box-shadow: 0 0 0 0px rgba(0,123,255,.25);
}
.login-box{
	padding:25px 20px;
	box-shadow: 0 0 10px 0px rgba(0,0,0,.150);
	border: 0px solid rgba(0,0,0,.125);
}
.alert {
    padding: .3rem 1.25rem;
    margin-bottom: 0px;
    margin-top: 5px;
}
.error-box{
	margin-bottom:15px;
}
.alert-dismissible .btn-close {
    padding: 10px;
}
.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
    opacity: 1;
}

/* admin css */
.side-menu li .nav-label {
    font-size: 14px;
    font-weight: 400;
}
.side-menu .nav-2-level>li>a {
    font-size: 14px;
}

#example-table_filter{
    display: flex;
    justify-content: flex-end;
}
#example-table_paginate, .dataTables_paginate{
    justify-content: flex-end;
    display: flex;
}
.data .table th {
    padding: .50rem;
    vertical-align: middle;
}
.data .table td{
    padding: 5px 5px 5px 5px; 
    vertical-align: middle;
}

.data .table thead th {
    font-weight: 600;
    text-align: center;
}
.header .dropdown-user a.dropdown-toggle img {
    width: 40px;
}
.page-footer {
    position: fixed;
    bottom: 0;
    z-index: 1003;
	box-shadow: 0px 5px 8px 2px rgb(0,0,0,.250);
}

/* admin css */
.student .form-group label{
	font-family: 'Kalpurush', sans-serif;
	font-size:16px;
	font-weight:600;
}
.student2 .form-group label{
	font-family: 'Poppins', sans-serif;
	font-size:15px;
	font-weight:500;
}
.student ::placeholder,.student2 ::placeholder {
  font-size:14px;
}
.student .form-group label span,.student2 .form-group label span {
    font-size: 10px;
    color: #ff2b2b;
}

.modal-content {
    border: 0px solid rgba(0,0,0,.2);
	
}
.modal-body {
	padding-top:40px;
	padding-bottom:40px;
	font-size:16px;
}
.modal-body h3{
	font-size:16px;
}
.modal-title{
	color:#ffffff;
	font-size:17px;
	font-weight:500;
}

.modal-header {
background: #02e3ab;
  background: -webkit-linear-gradient(to right, #02e3ab, #03a1ce); 
  background: linear-gradient(to right, #02e3ab, #03a1ce);
    padding: 7px 16px;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
	justify-content: space-between;
	Color:#ffffff;
	font-weight:600;
}

.modal-header .close{
Color:#ffffff;
	font-weight:600;
}

.delete-modal .btn-danger {
    color: #fff;
   background: #02e3ab;
  background: -webkit-linear-gradient(to right, #02e3ab, #03a1ce); 
  background: linear-gradient(to right, #02e3ab, #03a1ce);
    border-color: #02e3ab;
	padding:5px 30px;
	
}

.delete-modal .btn-danger:hover {
    border: 1px solid #02e3ab;
	padding:5px 30px;
	  background: linear-gradient(to right, #03a1ce, #02e3ab);
}

.btn-danger.active, .btn-danger.disabled, .btn-danger.focus, .btn-danger:active, .btn-danger:disabled, .btn-danger:focus, .btn-danger:hover {
    color: #fff!important;
    background-color: #02e3ab!important;
    border-color: #02e3ab!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

.delete-modal .btn-default {
    color: #57518e;
   background: #e9ecef;
    border-color: #e9ecef;
	padding:5px 30px;
	
}

.badge-success, .label-success {
    background-color: #2ecc71;
    padding: 2px 20px;
    font-size: 13px;
}
.badge-warning, .label-warning {
    background-color: #f39c12;
	padding: 2px 20px;
    font-size: 13px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 1px 30px;
}


.card-border{
	border:1px solid #dfdfdf;
	padding-bottom:25px;
}
.page-sidebar ul li a {
    padding: 8px 15px;
}
.side-menu .nav-2-level>li>a {
    padding: 6px 10px 6px 45px;
}
.side-menu .nav-3-level>li>a {
    padding: 5px 10px 5px 65px !important;
    font-size: 14px !important;
}
.list-group .list-group-item {
    border-color: rgba(0,0,0,.125) !important;
}
.details-title h3 {

    text-align: center;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}
ul.select2-results__options {
    font-size: 14px !important;
}
body:not(.fixed-layout).sidebar-mini .side-menu li .nav-2-level {
    top: 31px;    
}

.ibox .ibox-head .ibox-title {
    width: 100%;
}
/*----print css -- */
.section-1 tr td{
	vertical-align:top;
}
.section-1 tr td h3{
	margin-top:5px;
}
.section-1 tr td h3{
	font-size:18px;
	line-height:30px;
}

.section-1 tr td p{
	font-size:16px;
	line-height:25px;
}
.section-1 tr td p.para1{
	font-size:16px;
	line-height:22px;
}
.section-1 tr td a{
text-decoration:none;
font-size:16px;
line-height:20px;
}

.section-1 tr td h3{
	font-size:22px;
	line-height:30px;
}

.section-1 tr td span{
	font-size:16px;
	line-height:25px;
}
table.section-2 {
    margin-top: 10px;
    margin-bottom: 20px;
}
table.section-2 tr td h2 {
    font-weight:700;
	font-size:20px;
}

.invoice{
    font-family: 'Kalpurush', sans-serif;

}
.invoice-section-1 tr td h2 {
    font-size: 20px;
}
.invoice-section-1 tr td p {
    font-size: 18px;
	line-height: 25px;
}
.invoice-section-1 tr td h3 {
    font-size: 20px;
	line-height: 25px;
}
.invoice-section-2 tr td p {
    font-size: 16px;
	line-height: 25px;
}
.invoice-section-3 tr th {
    font-weight: 600;
}
.invoice-section-3 tr td {
   font-size:17px;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding:7px .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius:0rem;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.4rem + 2px);
    line-height: 73px;
}

.dataTables_length label{
display:flex;
}

.dataTables_length label select{
	 width: 70px;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
	margin-bottom: 20px;
	font-size:15px;
}
.dataTables_filter label{
	 display: flex;
	  justify-content: flex-end;
}
.dataTables_filter label input{
	 margin-left: 5px;
    margin-bottom: 20px;
	width:200px;
	font-size:15px;
}
#example-table_length label select{
    width: 70px;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
	margin-bottom: 20px;
}
#example-table_length label{
    display:flex;
}
#example-table_filter label{
    display: flex;
}

#example-table_filter label input{
    margin-left: 5px;
    margin-bottom: 20px;
}


@media only screen and (min-width: 768px) {
 .stock-input{width:12%;padding-left:2px;padding-right:2px;}
 .stock-input2{width:13%;padding-left:2px;padding-right:2px;}
}